@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "bootstrap";


body{
    background: linear-gradient(to bottom, #4e5362, #444444, #555555);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#app{
    display: contents;
}